In [1]:
#Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25
45*13/7-13.57+30.25

100.25142857142856

In [2]:
#What is the value of the expression 4 * (6 + 5)
4 * (6 + 5)

44

In [3]:
#What is the value of the expression 4 * 6 + 5 
4 * 6 + 5

29

In [4]:
#What is the value of the expression 4 + 6 * 5 
4 + 6 * 5

34

In [5]:
#What is the type of the result of the expression 3 + 1.5 + 4?
ans=3 + 1.5 + 4

In [6]:
ans

8.5

In [7]:
type(ans)

float

In [8]:
#Square root
x=169
x**0.5

13.0

In [9]:
#Square
x=13
x**2

169

In [10]:
# Print out 'e' using indexing

s = 'hello'
s[1]

'e'

In [11]:
# Reverse the string using slicing

s ='hello'
s[::-1]

'olleh'

In [12]:
# Print out the 'o'
# Method 1:

s ='hello'
s[4]

'o'

In [13]:
# Print out the 'o'
# Method 2:

s='hello'
s[-1]

'o'

In [14]:
#Build this list [0,0,0] two separate ways.
# Method 1:

[0]*3

[0, 0, 0]

In [15]:
#Build this list [0,0,0] two separate ways.
# Method 2:

list1=[0,0,0]
list1

[0, 0, 0]

In [16]:
#Reassign 'hello' in this nested list to say 'goodbye' instead:

list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

In [17]:
#Sort the list below:

list4 = [5,3,4,6,1]
list4.sort()

In [18]:
list4

[1, 3, 4, 5, 6]

In [19]:
#Using keys and indexing, grab the 'hello' from the following dictionaries:
# Grab 'hello'

d = {'simple_key':'hello'}
d['simple_key']

'hello'

In [20]:
# Grab 'hello'

d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

In [21]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]

'hello'

In [22]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [23]:
#Use a set to find the unique values of the list below:

list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [24]:
# Answer before running cell
2 > 3

False

In [25]:
# Answer before running cell
3 <= 2

False

In [26]:
# Answer before running cell
3 == 2.0

False

In [27]:
# Answer before running cell
3.0 == 3

True

In [28]:
# Answer before running cell
4**0.5 != 2

False

In [29]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False