In [1]:
import mysql.connector

In [2]:
conn = mysql.connector.connect(host="localhost",user="root",passwd="OmSql@123",database="mydb")

In [3]:
cur = conn.cursor()

## 1. Create a Python program to accept product details from user and insert into Product table of MySQL. Assume suitable table structure.

In [4]:
product_db = cur.execute("create table Product(pid int(5) not null primary key, pname varchar(25) not null, cateory varchar(25) not null, price int(5) not null, quantity int(4) not null)")

In [5]:
n = int(input("How many records do you want to add?"))
for i in range(n):
    pid = int(input("Enter Product ID :->"))
    pname = input("Enter Product Name:->")
    category = input("Enter Categoty of Product :->")
    price = int(input("Enter Price of product :->"))
    quantity = int(input("Enter Quantity of Product :->"))
    
    insert_product = "insert into Product(pid,pname,cateory,price,quantity) values (%s, %s, %s, %s, %s)"
    val = (pid,pname,category,price,quantity)
    
    cur.execute(insert_product, val)
    conn.commit()

How many records do you want to add?5
Enter Product ID :->1
Enter Product Name:->Laptop
Enter Categoty of Product :->Electronics
Enter Price of product :->75000
Enter Quantity of Product :->5
Enter Product ID :->2
Enter Product Name:->Sneakers
Enter Categoty of Product :->Clothing & Accessories
Enter Price of product :->2000
Enter Quantity of Product :->10
Enter Product ID :->3
Enter Product Name:->Furniture
Enter Categoty of Product :->Home Goods
Enter Price of product :->25000
Enter Quantity of Product :->4
Enter Product ID :->4
Enter Product Name:->Televisions
Enter Categoty of Product :->Electronics
Enter Price of product :->45000
Enter Quantity of Product :->8
Enter Product ID :->5
Enter Product Name:->Watches
Enter Categoty of Product :->Clothing & Accessories
Enter Price of product :->150000
Enter Quantity of Product :->25

## 2. Create a Python program to retrieve student details from Student table those are placed in TCS Company. Assume suitable table structure.

In [9]:
student_db = cur.execute("create table Student(PRN varchar(20) not null primary key, sname varchar(25) not null, course varchar(15) not null, passing_Year int(10) not null, joining_year int(10) not null, company_Name varchar(15) not null)")

In [11]:
cur.execute("select * from Student where company_Name = 'TCS'")

result = cur.fetchall()

for x in result:
    print(x)

('PRN2182820076', 'Shubham', 'BSCCS', 2023, 2025, 'TCS')
('PRN2182820082', 'Ruthwik', 'BCA', 2021, 2022, 'TCS')
('PRN2501208020', 'Om', 'MscDs', 2027, 2027, 'TCS')

## 3. Create a Python program to display area wise product sales details for electronic products in a year. Assume suitable table structure.

In [14]:
product_db = cur.execute("create table Product_sales(pid int(5) not null primary key, pname varchar(25) not null, catgeory varchar(25) not null, price int(5) not null, quantity int(4) not null, area varchar(25) not null,year int(4) not null)")

In [39]:
cur.execute("select area, sum(quantity * price), year from Product_sales where catgeory = 'Electronics' AND year ='2025' group by area")

result = cur.fetchall()

for x in result:
    print(x)
    
print("")
print("Result of year",year)
for area, sales, year in result:
    print(f"{area}:{int(sales)}")

('Nigdi', Decimal('950000'), 2025)
('Kiwale', Decimal('500000'), 2025)

Result of year 2025
Nigdi:950000
Kiwale:500000

## 4. Create a Python program to display month-wise sales details of all products in a year. Assume a Sales (ProductID, Month, Quantity, Amount) table.

In [41]:
sales_db = cur.execute("create table Sales(pid int(5) not null primary key, month varchar(10) not null, quantity int(4) not null, amount int(4) not null)")

In [48]:
cur.execute("select month, sum(quantity * amount) from Sales where month='Feb' OR month = 'march' group by month")

result = cur.fetchall()

for month, sales in result:
    print(f"{month}:{int(sales)}")

Feb:1507500
March:500000