In [3]:
import mysql.connector

myconn = mysql.connector.connect(host="localhost",user="root",passwd = "OmSql@123")

In [4]:
cur = myconn.cursor()

In [3]:
cur.execute("Create Database skill_db")

DatabaseError: 1007 (HY000): Can't create database 'skill_db'; database exists

In [6]:
conn = mysql.connector.connect(host="localhost",user="root",passwd="OmSql@123",database="skill_db")

In [7]:
cur = conn.cursor()

## 1. Create a Python program to create table Employee and Department as follows: 
### Employee: E_ID, NAME, AGE, SALARY, D_ID 

### Department: D_ID, DNAME 
### Add sufficient records in both the tables. Display the records of those employees, who is working in Sales department and Age is between 30 and 40.

In [6]:
department_db = cur.execute("create table Department(d_id int(3) not null primary key, dname varchar(15) not null)")
employee_db = cur.execute("create table Employee(e_id int(3) not null primary key, name varchar(10) not null, age int(2) not null, salary int(5) not null, d_id int(3) not null, foreign key(d_id) references Department(d_id))")

ProgrammingError: 1050 (42S01): Table 'department' already exists

In [8]:
cur.execute("select * from Employee e,department d where d.d_id = e.d_id AND dname='Sales' AND age between 30 and 40")

result = cur.fetchall()

for x in result:
    print(x)

(204, 'Vivek', 30, 40000, 104, 104, 'Sales')
(209, 'Dhruvil', 34, 50000, 104, 104, 'Sales')

## 2. Create a Python program to accept and add student education details in MySQL database table and display records of those students, who have secured first class in graduation. Assume suitable table structure.

In [ ]:
student_db = cur.execute("create table Students(roll_no int(5) not null primary key, name varchar(15) not null, course varchar(10) not null, year varchar(5) not null, percentage float(7) not null)")

In [ ]:
n = int(input("How many record do you want to add?"))

for i in range(n):
    eno = int(input("Enter Enrollment No :->"))
    name = input("Enter Name :->")
    course = input("Enter Course :->")
    year = input("Enter Year of study (1st,2nd,3rd) :->")
    percentage = float(input("Enter Percentage :->"))
    
    insert_sql = "insert into Students(roll_no,name,course,year, percentage) values (%s, %s, %s, %s, %s)"
    val = (eno,name,course,year,percentage)
    
    cur.execute(insert_sql,val)
    conn.commit()

In [ ]:
cur.execute("select * from Students where percentage > 80")

result = cur.fetchall()

for x in result:
    print(x)

## 3. Create a Python program to accept Book Details from user. Check if it is available in database table Book. If yes then display proper message, otherwise insert details in to Book table.

In [ ]:
book_db = cur.execute("create table Book(b_id int(5) not null primary key, b_name varchar(25) not null, author varchar(50) not null, price int(4) not null)")

In [ ]:
n = int(input("How many record do you want to add?"))

for i in range(n):
    b_id = int(input("Enter Book No :->"))
    name = input("Enter Book Name :->")
    author = input("Enter author of book :->")
    price = float(input("Enter price of book :->"))
    
    insert_sql = "insert into Book(b_id, b_name, author, price) values (%s, %s, %s, %s)"
    val = (b_id, name, author, price)
    
    cur.execute(insert_sql,val)
    conn.commit()

In [ ]:
search_book = input("Enter book name for searching in library :->")

check_book = cur.execute("SELECT * FROM book WHERE b_name = %s", (search_book,))
# cur.execute(check_book)
result = cur.fetchall()

if result:
    print(f"The book '{search_book}' already exists in the library..")
else:
    print(f"The book '{search_book}' not founded in library Please Enter Details of that book..")
    b_id = int(input("Enter Book No :->"))
    author = input("Enter author of book :->")
    price = float(input("Enter price of book :->"))
    
    insert_sql = "insert into Book(b_id, b_name, author, price) values (%s, %s, %s, %s)"
    val = (b_id, search_book, author, price)
    
    cur.execute(insert_sql, val)
    
    print(f"The book '{search_book}' added successfully in library..")
    conn.commit()

In [ ]:
cur.execute("select * from book")

result = cur.fetchall()

for x in result:
    print(x)