### Getting input from user

In [1]:
num1 = int(input("Enter First number "))
name = input("Enter Name ")

Enter First number 25
Enter Name Om

In [2]:
print("NUmber is ",num1,"Name is ",name)

NUmber is  25 Name is  Om

### Program 1:

### Write program to calculate celsius remperature and print fahrenhit and F=C*(9/5)+32

In [3]:
cel = int(input("Enter Celsius:->"))

F = cel*(9/5)+32

print("Celsius is ",cel," and Fahrenhit is ",F)

Enter Celsius:->34
Celsius is  34  and Fahrenhit is  93.2

### Program 2:

### Getting redius input from user and display Area and perimeter of it

In [4]:
r = int(input("Enter Redius:->"))

area = 3.14*r*r
print("Area of redius is ",area)

perimeter = 2*3.14*r
print("Perimeter of redius is ",perimeter)

Enter Redius:->5
Area of redius is  78.5
Perimeter of redius is  31.400000000000002

### Program : 3

### Getting amount and percetage of interest from user and find final amount after adding interest in original amount

In [5]:
amt = int(input("Enter Amount :->"))
per = float(input("Enter Percentage:->"))

interest_amt = amt*per/100
print(interest_amt)

final_amt = amt+interest_amt

print("Final amount after adding interest amount ",final_amt)

Enter Amount :->5000
Enter Percentage:->6
300.0
Final amount after adding interest amount  5300.0

### Program : 4

### Read Distance value in meters and convert into centimeter, inches and yard

In [6]:
meter = float(input("Input Meter:->"))

centi = meter * 100
inch = meter * 39.3701
yard = meter * 1.09361

print("Meter value is ",meter)

print("Value in centimeter is ",centi," in inch is ",inch," in yard is ",yard)

Input Meter:->4
Meter value is  4.0
Value in centimeter is  400.0  in inch is  157.4804  in yard is  4.37444

## Decision Making in Pyhon

In [7]:
num = int(input("Enter number:->"))
if num == 0:
    print("Number is Zero")
elif num > 0:
    print("NUmber is Positive")
else:
    print("NUmber is Negative")

Enter number:->6
NUmber is Positive

### FInd number is odd or even

In [8]:
num = int(input("Enter number:->"))

if num%2 == 0:
    print("NUmbe is Even..")
else:
    print("Number is odd..")

Enter number:->24
NUmbe is Even..

In [9]:
### Find maximum number from three number

num1 = int(input("Enter First Number:->"))
num2 = int(input("Enter Second Number:->"))
num3 = int(input("Enter Third Number:->"))

if num1 > num2 and num1 > num3:
    print(num1," is Greater")
elif num2 > num1 and num2 > num3:
    print(num2," is Greater")
else:
    print(num3," is Greater")

Enter First Number:->34
Enter Second Number:->43
Enter Third Number:->23
43  is Greater

In [10]:
num1 = int(input("Enter First Number:->"))
num2 = int(input("Enter Second Number:->"))
num3 = int(input("Enter Third Number:->"))

if num1 > num2:
    if num1 > num3:
        print(num1," is Greater")
    else:
        print(num3," is Greater")
else:
    if num2 > num3:
        print(num2," is Greter")
    else:
        print(num3," is Greater")

Enter First Number:->23
Enter Second Number:->34
Enter Third Number:->456
456  is Greater

In [11]:
### Leap year 

year = int(input("Enter Year:->"))

if year%4 == 0:
    if year%100 == 0:
        if year%400 == 0:
            print("Year is leap year..")
        else:
            print("Year is not leap year")
    else:
        print("leap year..")
else:
    print("Opps! Not leap year..")

Enter Year:->1952
leap year..

In [12]:
year = int(input("Enter Year:->"))

if year%4 == 0 and year%100 != 0 or year%400 == 0:
    print("Year is leap year..")
else:
    print("Opps! Not leap year..")

Enter Year:->2005
Opps! Not leap year..

## Loops Structure

In [13]:
# Natural NUmber

count =1
add=0

while count<=10:
    add +=count
    count +=1
print("Addition",add)

Addition 55

In [14]:
# Natural NUmber

count =1
add=0

while count<=20:
    add +=count
    count +=1
print("Addition",add)

Addition 210

In [15]:
# addition of firat 10Natural NUmber

count =1
add=0

while count<=20:
    add +=count
    count +=2
print("Addition",add)

Addition 100

In [16]:
# addition of first 20 Natural NUmber

count =0
add=0

while count<=20:
    add +=count
    count +=2
print("Addition",add)

Addition 110

In [17]:
# addition of firat 10Natural NUmber

count = 20
add=0

while count>=1:
    print(count)
    count -=1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [18]:
for i in 1,3,5,7,9:
    print(i)

1
3
5
7
9

In [19]:
for i in 2,4,5,6,8:
    print(i*i)

4
16
25
36
64

In [20]:
for i in 2,4.6,'om','56.65h':
    print(i)

2
4.6
om
56.65h

In [21]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(1,50,5):
    print(i)

1
6
11
16
21
26
31
36
41
46

In [23]:
for i in "OM MAMTORA":
    print(i)

O
M

M
A
M
T
O
R
A

In [24]:
for i in range(10):
    if i== 5:
        break
    else:
        print(i)

0
1
2
3
4

In [25]:
for i in range(10):
    if i== 5:
        continue
    else:
        print(i)

0
1
2
3
4
6
7
8
9

# ASSIGNMENT - 1

In [27]:
# Palindrom using loop
 
reverse = 0
palin = int(input("Enter Number:->"))
temp = palin

while palin > 0:
        digit = palin % 10
        reverse = (reverse * 10) + digit
        palin //= 10
        
print(reverse)
if temp == reverse:
    print("Palindrom")
else:
    print("Not Palindrom")

Enter Number:->12321
12321
Palindrom

In [28]:
# While loop in python
count =0
add=0

while count<=20:
    add +=count
    count +=2
print("Addition",add)

Addition 110

In [29]:
# String function

string = input("Enter String:->")
string1 = input("Enter String 2:->")

print(string.upper())
print(string1.lower())
print(string.capitalize())
print(string.split())
print(len(string))

Enter String:->om mamtora
Enter String 2:->OM MAMTORA
OM MAMTORA
om mamtora
Om mamtora
['om', 'mamtora']
10

In [30]:
#5. Write a program to accept ‘n’ numbers from user store in list. Separate odd and even integers in separate lists.

odd = []
even = []

n = int(input("How many numbers you want to add?"))

for i in range(n):
    num = int(input("Enter Number:->"))
    if num %2 !=0:
        odd.append(num)
    else:
        even.append(num)
        
print(odd)
print(even)

How many numbers you want to add?5
Enter Number:->23
Enter Number:->34
Enter Number:->45
Enter Number:->56
Enter Number:->67
[23, 45, 67]
[34, 56]

In [31]:
# GCD

num1 = int(input("ENter Number 1:->"))
num2 = int(input("ENter number 2:->"))

while num2:
    num2 = num1%num2
    num1 = num2
    
    num1,num2 = num2, num1%num2
    
print(num1)

ENter Number 1:->10
ENter number 2:->20
10

In [ ]:

num = int(input("Enter Number:->"))
octal = ""

while num > 0:
    digit = num % 8
    octal = str(digit) + octal
    palin //= 8
        
print("Octal ",octal)


# 34 % 8 = 2 → octal = "2"
# 34 // 8 = 4
# 4 % 8 = 4 → octal = "4" + "2" = "42"

Enter Number:->34

In [ ]:
palin = int(input("Enter Number:->"))
octal = ""

while palin > 0:
    digit = palin % 8
    octal = str(digit) + octal  # Add digit to the front
    palin //= 8

print("Octal:", octal)

In [ ]:
num = int(input("Enter Number:->"))
octal = ""
binary = ""

while num > 0:
    digit = num % 2
    binary = str(digit) + binary
    num //=2
        
print("binary ",binary)