In [1]:
# pip install mysql-connector-python

In [2]:
import mysql.connector

myconn = mysql.connector.connect(host="localhost",user="root",passwd = "OmSql@123")

In [3]:
myconn

In [4]:
cur = myconn.cursor()

cur.execute("Create Database mydb")

DatabaseError: 1007 (HY000): Can't create database 'mydb'; database exists

In [5]:
myconn = mysql.connector.connect(host="localhost",user="root",passwd = "OmSql@123",database="mydb")

In [6]:
cur = myconn.cursor()

dbs = cur.execute("create table Employee(name varchar(20) not null, id int(20) not null primary key, salary float not null, Dept_id int not null)")

ProgrammingError: 1050 (42S01): Table 'employee' already exists

In [ ]:
print(dbs)

# INSERT

In [ ]:
sql = "insert into Employee(name, id, salary, Dept_id) values (%s,%s,%s,%s)"

val = ("Om",122,35000.00,20)

cur.execute(sql,val)
myconn.commit()

In [ ]:
val = [("Neel",123,24000.00,21),("Shubham",124,25000.00,22),("vivek",125,26000.00,23)]

cur.executemany(sql,val)
myconn.commit()

In [ ]:
n = int(input("How many recoreds do you want to enter? "))
for i in range(n):
    name=input("Enter Employee Name :->")
    e_id = int(input("Enter Employee ID :->"))
    salary = int(input("Enter Salary :->"))
    d_id = int(input("Enter Department ID :->"))
    
    sql = "insert into Employee(name,id,salary,Dept_id) values (%s, %s, %s, %s)"
    val = (name,e_id,salary,d_id)
    
    cur.execute(sql,val)
    myconn.commit()

# SELECT

In [ ]:
cur.execute("select * from employee")

result = cur.fetchall()

for x in result:
    print(x)

## UPDATE

In [13]:
cur.execute("update employee set name = 'OVM' where id = 87")
myconn.commit()

In [14]:
cur.execute("select * from employee")

result = cur.fetchall()

for x in result:
    print(x)

('OVM', 87, 50000.0, 9)
('Varun', 89, 30000.0, 5)
('Neel', 123, 24000.0, 21)
('Shubham', 124, 25000.0, 22)
('vivek', 125, 26000.0, 23)

In [11]:
cur.execute("update employee set salary = 50000 where name = 'Om'")
myconn.commit()

cur.execute("select * from employee")

result = cur.fetchall()

for x in result:
    print(x)

('Om', 87, 50000.0, 9)
('Varun', 89, 30000.0, 5)
('Krishna', 122, 35000.0, 20)
('Neel', 123, 24000.0, 21)
('Shubham', 124, 25000.0, 22)
('vivek', 125, 26000.0, 23)

## DELETE

In [12]:
cur.execute("delete from employee where id = 122")
myconn.commit()

cur.execute("select * from employee")

result = cur.fetchall()

for x in result:
    print(x)

('Om', 87, 50000.0, 9)
('Varun', 89, 30000.0, 5)
('Neel', 123, 24000.0, 21)
('Shubham', 124, 25000.0, 22)
('vivek', 125, 26000.0, 23)