# TUPLE

In [2]:
per = (67,85,92,76,99)
print(per)
type(per)

(67, 85, 92, 76, 99)

tuple

In [3]:
per = per = (67,85,92.88,76,99)
print(per)
type(per)

(67, 85, 92.88, 76, 99)

tuple

In [4]:
per = per = (67,85,"Om",76,99)
print(per)
type(per)

(67, 85, 'Om', 76, 99)

tuple

# Accessing Element

In [7]:
per = per = (67,85,"Om",76,99)
print(per[2])
print(per[1:])

Om
(85, 'Om', 76, 99)

## Functions : LEN,MAX,MIN,SORTED,TUPLE,ANY,ALL
## Methods : INDEX(), COUNT()

## Membership Operator : in, not in
## identity Operator : is , not is

In [1]:
## Accept data for 5 students with tuple including roll number, name and marks Find topper from them

lst = []

for i in range(3):
    roll_No = int(input("Enter Roll No. :-> "))
    name = input("Enter Name :-> ")
    marks = int(input("Enter Marks :-> "))
    
    lst.append((roll_No,name,marks))
    
std_data=tuple(lst)

print(std_data)

print(std_data[0][2])

maximum = std_data[0]

for j in maximum:
    xyz = max(std_data[j][2])
    print(xyz)

Enter Roll No. :-> 1
Enter Name :-> sdgf
Enter Marks :-> 435
Enter Roll No. :-> 2
Enter Name :-> drtg
Enter Marks :-> 45
Enter Roll No. :-> 3
Enter Name :-> sdgrd
Enter Marks :-> 54
((1, 'sdgf', 435), (2, 'drtg', 45), (3, 'sdgrd', 54))
435

TypeError: 'int' object is not iterable