## LIST

In [1]:
month = ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec']
print(month)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [2]:
print(month[2])

Mar

In [6]:
non_homogenous = ['Jan','Feb',3,6,'Oct']
print(non_homogenous)

days = ['Mon',2,'Wed','Thu',5,6]
print(days)

print(days[4])

['Jan', 'Feb', 3, 6, 'Oct']
['Mon', 2, 'Wed', 'Thu', 5, 6]
5

## Accessing List Element

In [7]:
month = ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec']
print(month[2])

Mar

## Modify Value in List

In [8]:
print(month)

month[1]=2

print(month)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
['Jan', 2, 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [9]:
print(month[-1])

Dec

In [16]:
print(month[-5::])
print(month[-5:-1:])
print(month[-5:-1:2])

['Aug', 'Sep', 'Oct', 'Nov', 'Dec']
['Aug', 'Sep', 'Oct', 'Nov']
['Aug', 'Oct']

## Creating List of List

In [22]:
data = [23,[56,43],65,34,67]
print(data)
type(data)

[23, [56, 43], 65, 34, 67]

list

In [21]:
print(data[3])
print(data[1])
print(data[1][0])

34
[56, 43]
56

In [30]:
data1 = [54,45,23,56,3,62,76,29,78,98,2]

print(data1[2:])
print(data1[:6])
print(data1[2:7])
print(data1[4:9:2])


data1[2:5] = [40,3]
print(data1)

[23, 56, 3, 62, 76, 29, 78, 98, 2]
[54, 45, 23, 56, 3, 62]
[23, 56, 3, 62, 76]
[3, 76, 78]
[54, 45, 40, 3, 62, 76, 29, 78, 98, 2]

## Deleting List Element

In [34]:
data1 = [54,45,23,56,3,62,76,29,78,98,2]
print(data1)

del data1[4]
print(data1)

del data1[6:9]
print(data1)

[54, 45, 23, 56, 3, 62, 76, 29, 78, 98, 2]
[54, 45, 23, 56, 62, 76, 29, 78, 98, 2]
[54, 45, 23, 56, 62, 76, 2]

## Multi Dimensional List

In [36]:
mat = [[1,2,3],[4,5,6],[7,8,9]]
print(mat)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [37]:
print(mat[2])

[7, 8, 9]

In [41]:
print(mat[2][0])

7

In [43]:
num = [2,5,7,9,5,6]

for n in num:
    if n % 2 !=0:
        print(n,end=" ")
        
# Question find count of number which is not divided by 2 and count repeted number , repeted number can not show again include in count

5 7 9 5


## Build in List Function

In [44]:
num = [7,2,5,8,6,4,3]

len(num)

7

In [45]:
max(num)

8

In [46]:
min(num)

2

In [47]:
sum(num)

35

In [48]:
sorted(num)

[2, 3, 4, 5, 6, 7, 8]

In [49]:
print(num)

[7, 2, 5, 8, 6, 4, 3]

In [50]:
list['xyz']

list['xyz']

In [58]:
data=[0,0,0,0,0,False]

any(data)

False

In [59]:
data = [0,1,0,0,False]

any(data)

True

In [56]:
data = [0,1,0,0,False]

all(data)

False

In [57]:
data=[3,5,6,8,3]

all(data)

True

## Methods in List

In [61]:
num = [5,4,2,6,8,3]

num.append(0)
print(num)

[5, 4, 2, 6, 8, 3, 0]

In [62]:
num = [5,4,2,6,8,3]

num.insert(1,9)
print(num)

[5, 9, 4, 2, 6, 8, 3]

In [63]:
num = [5,4,2,6,8,3]

num.remove(2)
print(num)

[5, 4, 6, 8, 3]

In [64]:
num = [5,4,2,6,8,3]

num.clear()
print(num)

[]

In [71]:
num = [5,4,2,6,8,3]

print("Print Index number for value stored..")
print(num.index(6))

Print Index number for value stored..
3

In [72]:
num = [5,4,2,6,8,3]

num.sort()
print(num)

[2, 3, 4, 5, 6, 8]

In [73]:
num = [5,4,2,6,8,3]

num.reverse()
print(num)

[3, 8, 6, 2, 4, 5]

In [76]:
# Write code enter 10 number from user and add that number in list

arr = []

n = int(input("How many number would you like to Enter? :->"))

for i in range(n):
    num = int(input("Enter Element for list :-> "))
    arr.append(num)
    
print("Elemet in list are :",arr)

How many number would you like to Enter? :->5
Enter Element for list :-> 4
Enter Element for list :-> 6
Enter Element for list :-> 3
Enter Element for list :-> 7
Enter Element for list :-> 2
Elemet in list are : [4, 6, 3, 7, 2]

In [12]:
# Print second largest number from list

arr = []

n = int(input("How many number would you like to Enter? :->"))
x
for i in range(n):
    num = int(input("Enter Element for list :-> "))
    arr.append(num)
arr.sort()
    
print("Elemet in list are :",arr)
print("Second Largest value is ",arr[-2])

How many number would you like to Enter? :->5
Enter Element for list :-> 234
Enter Element for list :-> 45
Enter Element for list :-> 34
Enter Element for list :-> 6
Enter Element for list :-> 3
Elemet in list are : [3, 6, 34, 45, 234]
Second Largest value is  45

In [32]:
# Create 10 elements form user and check frequncy of element

arr = []

# n = int(input("How manay numbers do you want to add? :->"))

for i in range(10):
    num = int(input("Enter Number:->"))
    arr.append(num)
for i in arr:
    c = arr.count(i)
    print(f"{i} count of number is ",c)

Enter Number:->3
Enter Number:->4
Enter Number:->5
Enter Number:->6
Enter Number:->4
Enter Number:->3
Enter Number:->4
Enter Number:->6
Enter Number:->7
Enter Number:->1
3 count of number is  2
4 count of number is  3
5 count of number is  1
6 count of number is  2
4 count of number is  3
3 count of number is  2
4 count of number is  3
6 count of number is  2
7 count of number is  1
1 count of number is  1

## `